<% if (messages.success) { %>
    <div class="flash-message success">
        <%= messages.success %>
    </div>
<% } %>

<% if (messages.error) { %>
    <div class="flash-message error">
        <%= messages.error %>
    </div>
<% } %>